include backend.xml
include ChangeLog
include README
include MANIFEST.in
include fred_transproc/*.py
include transproc
include proc_csob_xml.py
include proc_ebanka.py
include proc_ebanka_csv.py
include transproc.conf
