@import url('forms.css');

#content-main {
	padding: 0em 1em 1em 1em;
}

#right_menu_container {
	float: right;
	margin: 0.5em 1em;
}

#main-menu li {

}


#main-menu {

}


#main-menu ul {
	/*padding: 3px;*/
	margin: 0px;	
}

#main-menu ul li {
	list-style: None;
	/*float: left;*/
	display: inline;
	margin-right: 0.8em;
	margin-left: 0.8em;
}

#main-menu ul ul {
	/*position: absolute;*/
	/*left: 0px;*/
}

.menu-item { padding: 0.2em }

.menu-item > a { text-decoration: none; }

.selected-menu > a { font-weight: bold; }

/* Generous */
.tcenter { text-align: center; }
.center { text-align: center; }
.pointer_cursor { cursor: pointer; }
.warning { color: red; }

td, th { padding: 1px}